# docker-compose -f docker-compose.yml up --build
name: app
services:
  api:
    container_name: api
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    image: api:latest
    ports:
      - "8080:8080"
    restart: unless-stopped
    # env_file:
    #   - ./apps/api/.env.local
