name: app
services:
  api:
    container_name: api
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    image: api:latest
    ports:
      - "8080:8080"
    env_file:
      - ./apps/api/.env.local
    restart: unless-stopped
