.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 600;
}

.subtitle {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm);
  text-align: center;
  margin-top: 5px;
}
